.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background:#2C3E50;
    /* border-bottom: 3px solid black; */
}
.menu_nav {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.menu_logo {
    margin-left: 1rem;
}
.menu_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-style: "Arial Black", Gadget, sans-serif;
    font-weight: bold;

}
.spacer {
    flex: 1;
}
.menu_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu_items li {
    padding: 0 0.5rem;
}
.menu_items a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-style: "Arial Black", Gadget, sans-serif;
    font-weight: bold;

}
.menu_items a:hover,
.menu_items a:active {
    color: #E67E22  ;
}
.menu_logo a:hover {
    color: #E67E22;
    

}
@media (max-width: 768px) {
    .menu_items {
        display: none;
    }
}
@media ( min-width: 769px ) {
    .toggleButton {
        display: none;
    }
    .menu_logo {
        margin-left: 0;
    }
}