.footer {
    width: 100vw;
    height: 50vh;
    background: #2C3E50;
    /* border-top: 3px solid black; */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.joke {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.joke > h1 {
    margin: auto;
    width: 60%;
    padding: 10px;
    color: white;
}
.joke > h2 {
    margin: auto;
    width: 60%;
    padding: 10px;
    color: white;
}
.joke > h4 {
    margin: auto;
    width: 60%;
    padding: 10px;
    color: white;
}
.joke > p {
    margin: auto;
    width: 60%;
    padding: 10px;
    font-size: large;
    color: white;
}
.newJokeButton {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.newJokeButton > button {
    background-color: #D10D81;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;

}
@media (max-width: 425px) {
    .footer {
        height: 30vh; 
    }
    .joke > p {
        margin: auto;
        width: 60%;
        padding: 10px;
        font-size: small;
    }
}