.tile {
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: gray;
    border: 8px solid purple;
    display: inline-block;
    /* float: left; */
    text-align: center;
    line-height: 150px;

}