.rules {
    margin-top: 25vh;
}
.textBox {
    height: 72vh;
    width: 100vw;
}
.textBox > p {
    font-size: 2rem;
    margin: 50px;

}
.button {
    float: right;
}
@media (max-width: 425px) {
    .textBox > p {
        margin: 10px;
        font-size: 1rem;
        /* display: inline-block; */
    }
}